@{
    ViewData["Title"] = "Home Page";
}

<h2>Profile</h2>

<div class="programList">
    <select class="form-control" id="dropChildName" name="childName">
        <option>Child 1</option>
        <option>Child 2</option>
    </select>
    <h3><a href="/Programs">Child Care</a></h3>
    <p>Next Class Time : Autopopulation from the times available</p>
    <p>Contact Instructor:<a href="/Messenger">Instructor Name1</a></p>

    <h3><a href="/Programs">Youth Camps</a></h3>
    <p>Next Class Time : Autopopulation from the times available</p>
    <p>Contact Instructor: <a href="/Messenger">Instructor Name2</a></p>

    <h3><a href="/Programs">Aquatics</a></h3>
    <p>Next Class Time: Autopopulation from the times available </p>
    <p>Contact Instructor:<a href="/Messenger">Instructor Name3</a></p>

    <h3><a href="/Programs">Youth and Recreation</a></h3>
    <p>Next Class Time : Autopopulation from the times available</p>
    <p>Contact Instructor: <a href="/Messenger">Instructor Name4</a></p>
</div>
