@{
    ViewData["Title"] = "Home Page";
}

<h2>Settings</h2>

<div>
    <h3>Program Notifications</h3>
    <label class="switch">
        <input type="checkbox">
        <span class="slider round"></span>
    </label>
   
    <h3>Messenger Notifications</h3>
    <label class="switch">
        <input type="checkbox">
        <span class="slider round"></span>
    </label>
</div>
